* {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

a {
    color: #191919;
    font-weight: bold;
}

body {
    margin-top: 0px;
}

#content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    overflow: hidden;
    position: relative;
}

#links_block {
    float: right;
}

#bookmark_img {
    float: right;
    width: 18px;
    height: 50px;
    margin-left: 15px;
}

#links {
    list-style-type: none;
    text-align: right;
    margin-top: 0px;
}

#links > li {
    margin-top: 10px;
}

#links > li > a {
    text-decoration: none;
}

#hrqr_link > a {
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline !important;
}

#decoder_link {
    font-size: 12px;
}

#apple_link > a > img {
    width: 175px;
    margin-top: 6px;
    margin-bottom: 10px;
}

#bitcoid_link {
    font-size: 18px;
}

#github_link {
    text-align: left;
    margin-left: -6px;
}

#title {
    font-size: 25px;
    position: absolute;
    bottom: 0px;
    vertical-align: bottom;
}

#title > img {
    width: 168px;
    height: 78px;
}

#title > p {
    display: inline-block;
    margin-left: 10px;
}

#credential {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding-left: 0px;
}

#credential > li {
    display: inline;
    margin-right: 30px;
    font-size: 14px;
    height: 32px;
}

#credential > li > * {
    margin-right: 10px;
}

#credential > li > img {
    height: 34px;
}

#credential > li > a {
    text-decoration: none;
}

#main {
    margin-top: 10px;
    font-size: 14px;
    
}

#inputForm {
    overflow: hidden;
    position: relative;
}

#textControl {
    float: left;
    margin-right: 20px;
}

#textControl > * {
    outline: none;
}

#textContent {
    width: 435px;
    height: 50px;
    border: 1px solid #c5c5c5;
    font-size: inherit;
}

.hrqr_size {
    width: 50px;
}